


body
{
    background-color:black;
    color:white;
    border:2px groove midnightblue;
    padding:20px;
}

img
{
    width:100px;
    height:100px;
}

/*
.headerprofileimage
{
    width:100px;
    height:100px;
  
    border-right-color: rgb(0, 242, 255);
    border-right-width:3px ;
    border-right-style:double ;

    border-bottom-color: rgb(0, 242, 255);
    border-bottom-width: 2px;
    border-bottom-style:dotted ;
    
    border-radius: 50%;
    display:block;
    margin-right: auto;
    margin-left: auto;
    
    
}

*/


.hpid /*heade profile image div */
{
    border-right-color: rgb(255, 0, 0);
    border-right-width:2px;
    border-right-style:dashed ;

    border-bottom-color: rgb(255, 0, 0);
    border-bottom-width: 2px;
    border-bottom-style:groove;

    border-radius:50%;
    
    display:block;
    margin-right: auto;
    margin-left: auto;
    width:fit-content;

    padding-right:3px;
    padding-top:1px;
    background-color: rgba(255, 228, 196, 0.237);
    
    

}

.headerheading
{
    color:red;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    

}

.headertags
{
    color:gray;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    
    background-color: rgba(0, 255, 255, 0.203);
    padding-top:10px;
    padding-bottom:1px;

}

.headertitles /* Programmer | Designer | Developer */
{
    color:lightcoral;
    text-align: cenetr;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:8px;
    
    padding-bottom:px;
}

.headerquote /*favourite quote on the header */
{
    color:goldenrod;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    margin-top:10px;

}

.mainparagrafheading /*style for Hello guys...*/
{
    color:rgb(106, 234, 144);
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:22px;
    margin:10px;
}

.mainparagrafcontent  /*Style for text after hello guys in the main paragraf */
{
    color:royalblue;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:15px;

    padding: 8px;
    padding-bottom: 12px;
    
}




.boxstyle1
{
    border:3px double rgb(255, 255, 255);
    padding:10px;
   
}

.borderstyle1   /* used for header tags */
{
    border:2px groove silver;
    width:75%;
    margin-right: 20%;
    margin-left: 12%;
    

}



.borderstyle2   /* used for main page paragraf : hello guys.... full section*/
{
    border:2px double rgb(0, 255, 51);
   /* border-start-end-radius: 30%;
    border-start-start-radius: 30%;
   */ padding-top: 25px;

    
    margin-left:-21px;
    margin-right:-21px;
    margin-top:15px;
    
    background-color:rgba(6, 148, 187, 0.287);

    
}

.emptydiv1  /*Forms the line inside the main paragraf's box */
{
    border-top:2px dotted greenyellow;
    border-radius: 50%;
    margin:20px;
}





.externlinkimages
{
    width: 100px;
    height:100px;
    border:3px groove rgb(255, 0, 0);
    border-right-width: 1px;
    border-right-style: dashed;
    border-right-color: rgb(4, 250, 168);
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: rgb(4, 250, 168);

    border-radius: 15%;
    border-bottom-right-radius: 0px;
    margin:10px;
    
}

.borextlim  /* border box for external link images*/
{
    border:2px double royalblue;

   margin-right :-21px;
   margin-left: -21px;
   
   

   padding:0px 3% 00px 38%;

   padding-left:auto;
   padding-right:auto;


background-color: rgba(65, 105, 225, 0.275);
   



    

}

.footersection
{
    border:2px groove rosybrown;
    padding:2%;
    
    background-color: rgba(255, 235, 205, 0.141);
    margin-left: -21px;
    margin-right: -21px;
    margin-bottom:-21px;
    
}

.footerparagraf
{
    color:gray;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 8px;


    
   
}

.footerconnect
{
    background:rgba(0, 139, 253, 0.67);
    border:3px double goldenrod;

    color:rgb(0, 255, 208);
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:10px;

    margin-top:15px;
  
}

.footerimages
{
    width:20px;
    height:20px;
    border-radius: 50%;
}

.footerimagebuttons
{
    background:rgba(45, 55, 62, 0.67);
    
    border-radius: 30%;
    padding:2px;


   
}