


body
{
    background-color:black;
    color:white;
}

img
{
    width:100px;
    height:100px;
}


.headerheading
{
    color:red;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    

}

.headertags
{
    color:gray;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    padding-top: 10px;
}

.headertitles /* Programmer | Designer | Developer */
{
    color:lightcoral;
    text-align: cenetr;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:8px;
    
    padding-bottom:13px;
}

.headerquote /*favourite quote on the header */
{
    color:goldenrod;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    margin-top:10px;

}

.mainparagrafheading /*style for Hello guys...*/
{
    color:lightcoral;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:22px;
    margin:10px;
}

.mainparagrafcontent  /*Style for text after hello guys in the main paragraf */
{
    color:lightcoral;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:15px;
    margin:10px;
}




.boxstyle1
{
    border:3px double white;
    padding:10px;
}

.borderstyle1   /* used for header tags */
{
    border:2px groove silver;
    padding:0px;

}

.borderstyle2   /* used for main page paragraf : hello guys.... full section*/
{
    border:2px groove deepskyblue;
    border-start-end-radius: 30%;
    border-start-start-radius: 30%;
    padding-top: 25px;
    margin-left:20%;
    margin-right: 20%;
    margin-top:15px;
    background-color:rgba(219, 226, 11, 0.223);

    
}

.emptydiv1  /*Forms the line inside the main paragraf's box */
{
    border-top:2px dotted greenyellow;
    border-radius: 50%;
    margin:20px;
}

.headerprofileimage
{
    width:100px;
    height:100px;
    border:2px double violet;
    border-radius: 50%;
    margin-left:46%;
    
}



.externlinkimages
{
    width: 100px;
    height:100px;
    border:2px double bisque;
    border-radius: 15%;
    border-bottom-right-radius: 0px;
    margin:10px;
}

.borextlim  /* border external link images*/
{
    border:2px double royalblue;
    width:260px;
    margin:10px;

}
